#(project
  (#(meta
     (#(name lgeo)
      #(description "LFE/Erlang GIS Bindings for GDAL/OGR")
      #(version "0.2.0")
      #(keywords ("LFE" "Lisp" "Library" "GIS" "GDAL" "OGR"))
      #(license
        (#(name "Apache License, Version 2.0")
         #(url "http://www.apache.org/licenses/LICENSE-2.0")))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "oubiwann/lgeo")))))
   #(app
     (#(mod #(lgeo ()))))))

